<p>new works!</p>
<h3 class="xyz">Maximize your efficiency. Get fast result </h3>
<nav class="navbar navbar-expand-lg ">
    <div class="container-fluid">
      <a class="navbar-brand" routerLinkActive="active" routerLink="">Running conditions</a>
      <nav class="navbar navbar-expand-lg ">
        <div class="container-fluid">
            <div class="aa">
          <a class="navbar-brand" routerLinkActive="active"   routerLink="">Machine selection</a></div></div>
          </nav></div></nav>
          <hr>
          <div class="card" style="width:28rem;"> <div class="container"><p style="font-size:20px;">Result</p><p style="color: blue;">
            OSCI250 Organoclay
          </p></div></div>
          
          <div class="running">
            <div class="container">
          <p style="font-size: 20px;"><b>Running conditions</b></p>
        
        <div class="flex-container">
            <button class="ss">cold</button>
            <button class="ss">Mild</button>
            <button>Hot</button>
            <button class="ww">Reset</button>
            <button>->Next</button>
            
          </div>
        </div>
        </div>
        