
<section class="about container">
    <h1 class="text-center mb-5">About</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus unde illum asperiores illo itaque numquam provident quae dolorum eius, veniam ratione. Saepe qui, laudantium consectetur corrupti recusandae, neque minus quia mollitia perferendis reiciendis exercitationem.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At voluptas necessitatibus enim fugiat, vel quia recusandae ipsam atque porro. Obcaecati id omnis cumque illo corporis, cupiditate doloribus sapiente totam tempore alias eveniet inventore ipsum?</p>
<div class="follow text-center">
    <h4>Follow Us</h4>
    <a href="#">Facebook</a>&nbsp;
    <a href="#">Youtube</a>&nbsp;
    <a href="#">Instagram</a>&nbsp;
    <a href="#">Twitter</a>&nbsp;
</div>
</section>
<p>{{name}}</p>