.navbar{
    background-color: #ffffff;
}
.navbar-light .navbar-nav {
    color: black;
}
.nav-link{
    color: #000000;
    margin-left: auto;
    font-size: 18px;
    
}
.navbar-nav{
    margin-left: auto;
   
}
.nav-link:hover{
    text-decoration: underline;
}